In [1]:
import pandas as pd
import BayesClassifier as bc
import accuracy as ac

In [2]:
class1_train=pd.read_csv('class1Train.csv')
class2_train=pd.read_csv('class2Train.csv')
class3_train=pd.read_csv('class3Train.csv')
class1_test=pd.read_csv('class1Test.csv')
class2_test=pd.read_csv('class2Test.csv')
class3_test=pd.read_csv('class3Test.csv')

In [3]:
class1_train['Class']=1
class2_train['Class']=2
class3_train['Class']=3
class1_test['Class']=1
class2_test['Class']=2
class3_test['Class']=3

In [4]:
df_train=pd.concat([class1_train,class2_train,class3_train],axis=0).drop('Unnamed: 0',axis=1)
df_train

            x1        x2  Class
0    14.731000 -0.103770      1
1    13.766000 -0.000418      1
2    14.236000 -0.421920      1
3    16.023000  2.230500      1
4    19.065000  0.715650      1
..         ...       ...    ...
345   0.036886  8.598800      3
346   0.167170  3.466000      3
347  -0.730600  3.780700      3
348  -0.002126  7.225600      3
349   0.631510 -1.889400      3

[1050 rows x 3 columns]

In [5]:
df_test=pd.concat([class1_test,class2_test,class3_test],axis=0).drop('Unnamed: 0',axis=1)
df_test

           x1       x2  Class
0    15.25800  0.11508      1
1    14.97700 -2.62110      1
2    12.14300 -0.51060      1
3    12.88500 -1.10930      1
4    17.65800  0.71319      1
..        ...      ...    ...
145   0.28398  2.84400      3
146   0.47872  5.85410      3
147   0.29237 -0.13298      3
148  -2.82220 -5.22530      3
149  -2.81640  2.23000      3

[450 rows x 3 columns]

In [6]:
y_true=df_test['Class']

In [7]:
classifier =bc.bc(df=df_train, class_column='Class', features=['x1', 'x2'])
y_hat=classifier.predict(df_test[['x1', 'x2']])
y_hat

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3]

In [8]:
acc=ac.accuracy(y_true,y_hat)
acc.confusion_matrix()

array([[  0,   0,   0,   0],
       [  0, 150,   0,   0],
       [  0,   0, 150,   0],
       [  0,   0,   0, 150]])

In [9]:
acc.accu_percent()

100.0

In [10]:
acc.precision()

Precision for class 1 is
1.0
Precision for class 2 is
1.0
Precision for class 3 is
1.0

[1.0, 1.0, 1.0]

In [ ]:
acc.recall()

Recall for class1 is
1.0
Recall for class2 is
1.0
Recall for class3 is
1.0

[1.0, 1.0, 1.0]

In [12]:
acc.f_score()

Precision for class 1 is
1.0
Precision for class 2 is
1.0
Precision for class 3 is
1.0
Recall for class1 is
1.0
Recall for class2 is
1.0
Recall for class3 is
1.0
F-score for class 1 is 1.0
F-score for class 2 is 1.0
F-score for class 3 is 1.0

[1.0, 1.0, 1.0]